<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh_CN"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
<div align="left">
    <h1>首页</h1>
    <h3>您已经登录</h3>
    <!--<shiro:a></shiro:a>-->
    <!--<shiro:principal/>-->
    <!--<shiro:principal property="username"/>-->
    <!--<br>-->
    <!--<shiro:guest>-->
    <!--欢迎游客访问，<a href="/guest/login">登录</a>-->
    <!--</shiro:guest>&nbsp;-->

    <br><a href="/guest/login">登录页</a>
    <br>
    <!--<shiro:hasRole name="admin">    </shiro:hasRole>-->
    <a href="/admin/adminpage">管理员页面</a>
    <br><a href="/authc/infopage">普通页面</a>
    <br><a href="/test">测试连接获取Model数据</a>
    <span th:text="${key1}"></span>
    <span th:text="${key}"></span>
    <br><a href="/authc/home">首页</a>
    <br><a href="/shiro/logout">注销</a>

</div>

</body>
</html>