<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">Login Page</h1>

<form action="/shiro/login" method="post">
    <table align="center">
        <tr>
            <td>username</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>password</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td>remember me</td>
            <td><input type="checkbox" name="rememberme" value="true"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="Login"></td>
        </tr>
    </table>
</form>

<h2 align="center"><a href="/guest/home" >首页</a></h2>
<h2 align="center"><a href="/guest/register" >注册</a></h2>
</body>
</html>